{
   "sections":[
      "Basic information",
      "Intended Use",
      "Factors",
      "Ethical Considerations",
      "Caveats and Recommendations",
      "Libraries",
      "Datasets",
      "References",
      "Data Cleaning",
      "Preprocessing",
      "Training Procedure and Data",
      "Evaluation Procedure and Data",
      "Hyperparameters",
      "Plotting",
      "Disaggregated Evaluation Result",
      "Miscellaneous"
   ]
}